html, body {
    margin: 0px;
    padding: 0px;
}

.topnav {
    overflow: hidden;
    background-color: #031329;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ffffff;
    color: #031329;
  }
  
  .topnav a.active {
    background-color: #ba745f;
    color: white;
  }

  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:nth-child(1)) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .banner {
    position: relative;
    display: block;
    width: 100%;
    height: 700px;
    background-image: url("./Banner.jpg");
    background-size: cover;
    background-position: -30%;
    background-repeat: no-repeat;
  }
  
  .banner>.caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    color: #ffffff;
  }

  .container {
    width:100%;
    padding-right:0px;
    padding-left:0px;
    margin-right:auto;
    margin-left:auto;
    flex-wrap: wrap;
  }

  .row {
    display: flex;
    background: white;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
  }
  
  .customer {
    width: 50%;
    height: 100%;
    margin-left: 50px;
  }

  .whyText {
    text-align: center;
  }

  body {
    background-color: #e6e6e6;
  }

  .logo {
    padding: 0px;
    background-color: #ffffff;
  }

  .heading {
    margin-top: 25px;
    text-align: center;
  }

  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 #ba745f;
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  height: 100%;
  margin: 20px 100px 20px 0px;
}

.cardM {
  box-shadow: 0 4px 8px 0 #ba745f;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #031329;
  color: white;
  width: 25%;
  margin: 20px 100px 20px 0px;
}

.cardL {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 #ba745f;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #031329;
  color: white;
  width: 25%;
  margin: 20px 0px 20px 0px;
}

.cardQuote {
  box-shadow: 0 4px 8px 0 #ba745f;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #ba745f;
  color: white;
  width: 50%;
  margin: 20px 0px 20px 0px;
}

.cardQuoteR {
  box-shadow: 0 4px 8px 0 #ba745f;
  border-radius: 5px;
  background-color: #ba745f;
  color: white;
  width: 50%;
  margin: 20px 0px 20px 20px;
}

.cardCalc {
  box-shadow: 0 4px 8px 0 #ba745f;
  border-radius: 5px;
  background-color: #ba745f;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #ba745f;
}

.cardM:hover {
  box-shadow: 0 8px 16px 0 #ba745f;
}

.cardL:hover {
  box-shadow: 0 8px 16px 0 #ba745f;
}

.cardQuote:hover {
  box-shadow: 0 8px 16px 0 #031329;
}

.cardQuoteR:hover {
  box-shadow: 0 8px 16px 0 #031329;
}

.cardText {
  text-align: center;
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}

.cardTextHead {
  text-align: center;
  text-decoration: underline;
}

.calculation {
  background: white;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}

a {
  text-decoration: none;
}

label {
  font-size: 23px;
}

.forms {
  line-height: 35px;
  margin: 0px 20px 0px 20px;
}

.inputBox {
  height: 25px;
  border-radius: 5px;
  width: 100%;
}

button {
  height: 50px;
  width: 100px;
  margin: 20px 0px 20px 0px;
}
  @media screen and (max-width: 1200px) {
    .row {
      flex-direction: column;
      padding: 0px;
      margin: 0px;
      gap: 0px;
      align-items: center;
    }

    .calculation {
      flex-direction: column;
      margin: 20px 0px 20px 0px;
    }

    .caption {
      margin-top: 100px;
    }

    .customer {
      width: 80%;
      margin-right: 50px;
      margin-bottom: 50px;
    }

    .banner {
      background-position: 0% 0%;
    }

    .card {
      margin: 20px 0px 20px 0px;
      width: 90%;
    }

    .cardM {
      margin: 20px 0px 20px 0px;
      width: 90%;
    }

    .cardL {
      margin: 20px 0px 20px 0px;
      width: 90%;
    }

    .cardQuote {
      margin: 20px 0px 20px 0px;
      width: 90%;
    }
    
    .cardQuoteR {
      margin: 20px 0px 20px 0px;
      width: 90%;
    }

    .cardCalc {
      margin: 20px 0px 20px 0px;
      width: 90%;
    }

    .cardCalcR {
      margin: 20px 0px 20px 0px;
      width: 90%;
    }
  }

  h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .banner>.caption>h1,
  .banner>.caption>h2 {
    text-align: center;
  }
  
  .banner>.caption>h1 {
    font-size: 5vw
  }
  
  .banner>.caption>h2 {
    font-size: 4vw;
  }

 .footernav{
  background-color: #031329;
  overflow: hidden;
 }
  
 .footernav a{
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /*display: block;*/
 }

/* #phone{
  color: #ffffff;
  float: right;
 }*/

/*css for about page specifically*/
.abouttext{
  text-align: center;
}
.cardX{
  align-items: center;
  background-color: white;
  width: 75%;
  height: 100%;
  margin-left: 12.5%;
}

.cardX h3{
  padding-top: 9px;
  padding-bottom: 9px;
}

@media screen and (max-width: 700px) {
  .rowc {
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    gap: 0px;
    align-items: center;
  }

  .cardX {
    margin: 20px 0px 20px 0px;
    width: 100%;
    padding: 3px;
  }
}