html, body {
    margin: 0px;
    padding: 0px;
}

@keyframes growAndShrink {
    50% {
        width: 200px;
        height: 200px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

div {
    height: 100px;
    width: 100px;
    background-color: green;
}

.round {
    border-radius: 100%;
}

section {
    display: flex;
    gap: 10px;
}

.growAndShrink {
    animation: growAndShrink linear 1s forwards;
}